<% title "Начало" %>
<% h1(false) %>

<div class="about-few">
  Граф с данни за хора, филми, музика, места... И над <%= Entity.where(:is_ok => true).count %> валидни записа!
</div>

<div class="main-box">
  <div class="menu-container">
    <ul class="menu-slider">
      <% @groups.each do |group| %>
         <li><a data-remote="true" href="<%= url_for group %>"><%= group.name %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="menu-context-container">
    <div class="menu-container">
      <ul class="menu-slider fill-me-up">
      </ul>
    </div>
    <div class="inner-menu-context">
    </div>  
  </div>
</div>
<div class="main-right-box">
  <h2>Структура</h2>
  <p>
    <strong>Типът</strong> представлява съвкупност от свойства, които описват даден <strong>обект</strong> от реалния свят.
  </p>
  <p>
    <strong>Групите</strong> са съвкупност от няколко <strong>типа</strong> със сходна идея.</strong>
  </p>

  <h2>Какво виждам тук</h2>
  <p>
    Вие виждате <strong>специално</strong> избрани типове, групирани в категории, които нямат нищо общо с истинките групи.
  </p>
</div>

<div style="clear: both;"></div>

<div class="info-boxes">
  <div class="info-box">
    <div class="wrapper" style="margin-left: 0;">
      <h2>Какво е семантичен уеб?</h2>
      <p>
        <strong>Концепция</strong> представлява всеки ресурс да бъде представян освен във формат, разбираем за хората, и в такъв, понятен за компютрите!
      </p>
    </div>
  </div>

  <div class="info-box">
    <div class="wrapper">
      <h2>Какво е allus.in?</h2>
      <p>
        <strong>Съвкупност</strong> от информация, представена чрез <strong>метаданни</strong>, като по този начин тя е достъпна и за <strong>машинна</strong> обработка.
      </p>
    </div>
  </div>

  <div class="info-box">
    <div class="wrapper">
      <h2>Защо да се регистрирам?</h2>
      <p>
        <strong>Регистрацията</strong> ви дава достъп до пълните възможности на платформата - <strong>редакция</strong> или <strong>извличане</strong> на нови ресурси, а също така и следене за коректност. Също така по този начин ние можем да събираме <strong>полезна</strong> информация за вас! 
      </p>
    </div>
  </div>

  <div class="info-box">
    <div class="wrapper" style="margin-right: 0;">
      <h2>Друго</h2>
      <p>
        Ще се <strong>радваме</strong> да чуем вашето мнение или предложения! Моля не се колебайте да се свържете и така да допринесете за първото българско <strong>Семантично</strong> приложение.
      </p>
    </div>
  </div>
</div>