body {
    background-color: #FFF;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    background: url(../images/bg.gif) repeat-x;
    color: #333;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
}

a img {
    border: none;    
}

a:link, a:visited, a:active {
    color: #2266BB;
    text-decoration: none;
    outline: none;
}

a.back {
  display: block;
  background: url("arrow.gif") no-repeat scroll 0 5px transparent;
  color: #ccc;
  margin-top: -50px;
  outline: medium none;
  padding-left: 10px;
  position: absolute;
  text-decoration: none;
}

a.back:hover {
  text-decoration: none;
  background-position: 2px 5px;
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    background: url("bg-wrapper.png") no-repeat scroll 0 0 transparent;
    margin: 0 auto;
    padding: 20px;
    width: 930px;
    overflow: hidden;
}

#footer {
  padding: 40px;
  text-align: center;
}

#header {
	height: 82px;
  overflow: hidden;
  background: #f5f5f5 url('bg.gif') bottom left repeat-x;
  border-top: #31b8da solid 5px;
  border-bottom: #ddd solid 1px;
  margin-bottom: 20px;
}

#header #header-inner {
  border-bottom: #eee solid 1px;
  height: 72px;
  margin-top: 11px;
  padding-left: 40px;
  padding-right: 40px;
}

#header #header-inner .left, #header #header-inner .right {
  display: inline-block;
}

#header #header-inner .right {
  float: right;
  width: auto;
}

.default-text {
  color: #ccc;
}

.default-text-active {
  color: #555;
}

a.logo {
  float: left;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  text-shadow:2px 2px 2px rgba(64, 64, 64, 0.3);
}

a.logo:hover {
  text-decoration: none;
  text-shadow:2px 2px 2px rgba(64, 64, 64, 0.5);
}

.entity-link {
  font-weight: bold;
  font-size: 14px;
}

fieldset {
  border: 1px solid #ddd;
  border-right: 2px solid #ddd;
  margin-bottom: 20px;
  padding: 20px;
}

fieldset h3 {
  background: #FCFCFC;
  padding: 5px 1px;
  margin: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
}

h2 .fieldset-content-toggle {
  font-size: 12px;
}

.type-property {
  border-left: 1px solid #eee;
  margin-bottom: 5px;
  padding-left: 10px;
  overflow: hidden;
}

.property-label {
  float: left;
  width: 150px;
  padding-right: 20px;
}

.property-values {
  float: left;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  left: 550px;
  position: absolute;
  top: 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}


.page-info {
  float: left;
  width: 750px;
}

.aliases {
  margin-top: 10px;
  font-size: 15px;
  border-left: 1px solid #eee;
  padding-left: 10px;
}

.aliases span {
  font-weight: bold;
  font-size: 13px;
}

.page-image {
  float: right;
  margin-top: 0px;
  border: 1px solid #F1F1F1;
  padding: 10px;
}

a.rdf-link {
  background: url(../images/rdf.gif) no-repeat center left;
  padding-left: 30px;
  padding-top: 9px;
  padding-bottom: 9px;
  float: right;
}

a.rdf-link:hover {
  background-position: 1px;
}

.no-info {
  margin: 50px;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  border: 2px solid #ddd;
}

.namespaces {
  margin-top: 30px;
}

textarea, input, select {
	border: 1px solid #ddd;
	padding: 3px;
	color: #555;
}

input {
  padding: 4px;
}

textarea {
  white-space: normal; 
  width: 712px !important;
}

select {
	color: #000;
}

input[type="text"], input[type="password"], textarea, select {
	width: 710px;
	display: block;
	float: left;
  margin: 2px;
}

.error-field input, .error-field textarea, .error-field select {
	border: 1px solid #ff0000;
}

.question input[type="text"], .question textarea, .question select {
	width: 700px;
}

.answer input[type="text"], .answer textarea, .answer select {
	width: 650px;
}

input[type="submit"], input[type="button"] {
	padding: 0px 10px;
  padding-bottom: 1px;
  background: -moz-linear-gradient(center top , #F4F4F4, #ECECEC) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, center top, center bottom, from(#F4F4F4), to(#ECECEC));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F4F4', endColorstr='#ECECEC');
  border: 1px solid #D4D4D4;
  border-radius: 3px 3px 3px 3px;
  color: #333333;
  display: inline-block;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: bold;
  height: 23px;
  text-shadow: 1px 1px 0 #FFFFFF;
}

textarea:hover, textarea:focus, input:hover, input:focus {
	border: 1px solid #2266bb;
	color: #000;
}

.filter {
  overflow: hidden;
}

.filter a {
  margin-top: 7px;
  margin-left: 20px;
  display: inline-block;
}

.filter input[type="text"] {
  width: 300px !important;
}

.filter input, .filter select {
  width: auto;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 0;
}

label {
	width: 150px;
	float: left;
	margin-top: 4px;
}

.clear {
    clear: both;
}

#save-errors {
  border: 1px solid red;
  border-right: 2px solid red;
}

#save-errors ul {
  margin: 0px;
  padding-left: 20px;
}

#admin-nav {
  margin: 5px 0;
}

#admin-nav h2 {
  display: inline-block;
  margin: 0 20px;
  font-size: 18px;
}

#admin-nav h2.first {
  margin-left: 0;
}

h1, h2 {
    margin-top: 0px;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 18px;
}

h1, h2 {
  font-family: Helvetica;
	text-shadow:0 1px 1px rgba(64, 64, 64, 0.13);
	font-weight: normal;
	color:#222;
}

h1.title {
  font-size: 20px;
  display: inline-block;
}

h1.title span {
  color: #777;
}

h1 a, h2 a {
	display: inline;
	color: #2266bb;
}

h1 a:hover, h2 a:hover {
	color:#222;
	background:#EEF4FF;
	text-decoration: none;
}

/* tables */
table.sorted-table {
  border-spacing: 1px;
	font-family:arial;
	background-color: #ccc;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}

table.sorted-table thead tr {
}

table.sorted-table thead tr th, table.sorted-table tfoot tr th {
	background: transparent;
	font-size: 12px;
	padding: 4px 10px;
  color: #fff;
  letter-spacing: 0;
  font-weight: normal;
  background: -moz-linear-gradient(center top , #50B7D1, #286DA3) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, center top, center bottom, from(#50B7D1), to(#286DA3));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50B7D1', endColorstr='#286DA3');
}
table.sorted-table thead tr .header {
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.sorted-table tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.sorted-table tbody tr.odd td {
}
table.sorted-table thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.sorted-table thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.sorted-table thead tr .headerSortDown, table.sorted-table thead tr .headerSortUp {
  font-weight: bold;
}



.authentications {
  margin-bottom: 30px;
}

.authentication {
  min-width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}





 
.menu-container {
width: 200px;
padding: 0px;
overflow:hidden;
position:relative;
float: left;
}

.menu-context-container {
  width: 480px;
  height: 290px;
  float: left;
  padding: 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 3px;
}

.inner-menu-context {
  float: left;
  width: 480px;
  margin-left: 20px;
}
 
.menu-slider {
width:100%;
list-style:none;
margin:0;
padding: 0px;
top:0;
position:relative;
height:100%;
}
 
.menu-slider li {
padding:1px;
display:block;
overflow:hidden;
cursor:hand;
cursor:pointer;
}
 
.menu-slider li a, .menu-slider li a:visited {
background:#fff;
border-radius: 3px;
color:#1f1f1f;
font-size: 16px;
display:inline-block;
padding:10px 10px 8px 10px;
text-decoration:none;
width: 170px;
font-weight: Arial;
}

.menu-slider li:hover a {
  color: #fff;
  background: -moz-linear-gradient(center top , #50B7D1, #286DA3) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, center top, center bottom, from(#50B7D1), to(#286DA3));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50B7D1', endColorstr='#286DA3');
}

.menu-context-container .menu-slider li a {
  border: 1px solid #eee;
  padding: 5px;
  font-size: 14px;
    width: 466px;
}

.menu-context-container .menu-container {
  width: 100%;
}
 
.menu-slider li span {
font-size:9px;
color:#464646;
}
 
.controls {
  float: right;
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: inline-block;
  margin: 0;
}

.controls a {
  padding: 5px 10px;
  display: inline-block;
  font-weight: bold;
  float: left;
}

.controls a:hover {
  background: #31B8DA;
  overflow: visible;
  color: #fff;
  text-decoration: none;
}

.controls a.left {
  border-right: 1px solid #ddd;
}

.controls a.left:hover {
  border-radius: 3px 0 0 3px;
}

.controls a.right:hover {
  border-radius: 0 3px 3px 0;
}

.controls a.one:hover {
  border-radius: 3px;
}

.icon-link span {
    background: #fff;
    padding-left: 3px;
}

.icon-link span:hover {
	color:#222;
	background:#EEF4FF;
}

.more-links .icon-link {
    margin-left: 10px;
}

.icon-link {
    background: url('/images/icons.png') no-repeat;
    height: 16px;
    padding-left: 16px;
}

.icon-link:hover {
  text-decoration: none;
}

.icon-sprite-calendar {
    background-position: -64px 0;
}

.icon-sprite-new {
}

.icon-sprite-remove {
    background-position: -32px 0;
}

.icon-sprite-edit {
    background-position: -48px 0;
}

.icon-sprite-participants {
    background-position: -80px 0;
}


.about-few {
  background: -moz-linear-gradient(center top , #50B7D1, #286DA3) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, center top, center bottom, from(#50B7D1), to(#286DA3));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50B7D1', endColorstr='#286DA3');
  margin: -14px;
  margin-top: -16px;
  margin-bottom: 30px;
  border-radius: 3px;
  border-bottom: 2px solid #ddd;
  padding: 15px 10px;
  text-align: center;
  font-size: 20px;
  font-family: Helvetica;
  text-shadow:2px 2px 2px rgba(64, 64, 64, 0.1);
  letter-spacing: 0;
  color: #fff;
}

.main-box {
  border-radius: 3px;
  border: 2px solid #eee;
  background: #f5f5f5;
  overflow: hidden;
  width: 690px;
  height: 300px;
  float: left;
}

.info-boxes {
  margin-top: 30px;
}

.info-box {
  float: left;
  width: 25%;

}

.main-right-box {
  margin-left: 10px;
  border: 1px solid #eee;
  border-radius: 3px;
  float: left;
  width: 214px;
  padding: 5px;
}

.info-box .wrapper {
  margin: 5px;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 7px;
}

.info-box .wrapper h2, .main-right-box h2 {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
}

.info-box .wrapper p, .main-right-box p {
  color: #666;
  line-height: 1.5em;
}

.info-box .wrapper p strong {
  color: #000;
}