<% title "namespaces" %>

<div id="sidebar">
<ul id="menu">
    <% @namespaces.each do |namespace| %>
      <li><a href="<%= url_for namespace %>"><%= namespace.key.capitalize.tr("_", " ") %></a></li>
    <% end %>
</ul>
</div>