<% title "namespaces" %>

<div id="sidebar">
<ul id="menu">
    <% @namespaces.each do |namespace| %>
      <li><a href="<%= url_for namespace %>"><%= namespace.get_name %></a></li>
    <% end %>
</ul>
</div>