<% title @namespace.get_name %>

<table class="sorted-table"> 
  <thead> 
    <tr> 
      <th width="150px">Име</th> 
      <th>Описание</th> 
    </tr> 
  </thead> 
  <tbody> 
    <% @types.each do |type| %>
      <tr>
        <td><a href="<%= namespace_type_path @namespace, type %>"><span class="entity-link"><%= type.name %></span></td>
        <td><%= (!type.comment.nil?) ? type.comment[0..300] + "..." : "..." %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<script language="javascript">
<!--
$(document).ready(function() 
    { 
        $(".sorted-table").tablesorter(); 
    } 
); 
//-->
</script>