$(".fill-me-up").html("");

<% @types.each do |type| %>
  $(".fill-me-up").append("<li><a data-add=\"5\" data-color=\"#fff\" href=\"<%= namespace_type_path @namespace, type %>\"><%= type.name %></a></li>");
<% end %>